body{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fff;
    
    
}

h1{
    color: #fff;
    font-size: 2rem;
    background: url(https://cdn.pixabay.com/photo/2013/04/14/20/24/water-103817_640.jpg) center;
    position: absolute;
    background-size:cover ;
    background-clip: text;
    color: transparent;
    animation: animate 10s linear infinite;
    margin-left: 8%;
   
}

fieldset{
    border-radius: 500px;
    line-height: 30px; 
    padding-top: 50px;
    
}

h2{
    color: #fff;
    font-size: 10rem;
    padding: 10%;
    background: url(https://cdn.pixabay.com/photo/2013/04/14/20/24/water-103817_640.jpg) center;
    position: absolute;
    background-size:cover ;
    background-clip: text;
    color: transparent;
    animation: animate 10s linear infinite;
    
 
}

@keyframes animate {
    to{
        background-position-x:-200px ;
    }
}



.entrada {
    padding: 100px;
    margin-left: 22%;
    
    

}







